<?xml version="1.0"?>
<launch>

<!-- 0 corresponds to /dev/video0 -->
<arg name="video_device_right" default="0" />
<arg name="video_device_left" default="1" />

<arg name="image_width" default="320" />
<arg name="image_height" default="240" />

<arg name="image_ns" default="stereo" />

<arg name="camera_name_right" default="right" />
<arg name="camera_name_left" default="left" />
 
<arg name="image_topic_name" default="image" />

<arg name="framerate" default="30" /> 
   
<arg name="camera_info_path" default="stereo_camera_info"/>


<!-- launch right video stream -->
<group ns="$(arg image_ns)">

  <remap from="/$(arg image_ns)/$(arg camera_name_right)/image_raw" to="image"/>
  <remap from="/$(arg image_ns)/$(arg camera_name_left)/image_raw" to="image"/>

  <include file="$(find video_stream_opencv)/launch/camera.launch" >
    <!-- node name and ros graph name -->
    <arg name="camera_name" value="$(arg camera_name_right)" />
    <arg name="video_stream_provider" value="$(arg video_device_right)" />
    <!-- set camera fps to (if the device allows) -->
    <arg name="set_camera_fps" value="$(arg framerate)"/>
    <!-- set buffer queue size of frame capturing to (1 means we want the latest frame only) -->
    <arg name="buffer_queue_size" value="1" />
    <!-- throttling the querying of frames to -->
    <arg name="fps" value="$(arg framerate)" />
    <!-- setting frame_id -->
    <arg name="frame_id" value="right_optical_frame" />
    <arg name="camera_info_url" value="file://${ROS_HOME}/$(arg camera_info_path)/$(arg camera_name_right).yaml" />
    <!-- flip the image horizontally (mirror it) -->
    <arg name="flip_horizontal" value="false" />
    <!-- flip the image vertically -->
    <arg name="flip_vertical" value="false" />
    <!-- force width and height, 0 means no forcing -->
    <arg name="width" value="$(arg image_width)"/>
    <arg name="height" value="$(arg image_height)"/>
    
    <!-- visualize on an image_view window the stream generated -->
    <arg name="visualize" value="false" />

 </include>

 <!-- launch left video stream -->
 <include file="$(find video_stream_opencv)/launch/camera.launch" >
   <!-- node name and ros graph name -->
   <arg name="camera_name" value="$(arg camera_name_left)" />
   <arg name="video_stream_provider" value="$(arg video_device_left)" />
   <!-- set camera fps to (if the device allows) -->
   <arg name="set_camera_fps" value="$(arg framerate)"/>
   <!-- set buffer queue size of frame capturing to (1 means we want the latest frame only) -->
   <arg name="buffer_queue_size" value="1" />
   <!-- throttling the querying of frames to -->
   <arg name="fps" value="$(arg framerate)" />
   <!-- setting frame_id -->
   <arg name="frame_id" value="left_optical_frame" />
   <arg name="camera_info_url" value="file://${ROS_HOME}/$(arg camera_info_path)/$(arg camera_name_left).yaml" />
   <!-- flip the image horizontally (mirror it) -->
   <arg name="flip_horizontal" value="false" />
   <!-- flip the image vertically -->
   <arg name="flip_vertical" value="false" />
   <!-- force width and height, 0 means no forcing -->
   <arg name="width" value="$(arg image_width)"/>
   <arg name="height" value="$(arg image_height)"/>
    
   <!-- visualize on an image_view window the stream generated -->
   <arg name="visualize" value="false" />

 </include>

</group>


</launch>

